<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="app.component.css">
  <title>Document</title>
</head>
<body>

  <nav class="navbar">
  <div class="nav-brand">Cliente Festivos</div>
  <ul class="nav-links">
    <li><a routerLink="/festivos" routerLinkActive="active-link">Consultar Festivos</a> </li>
    <li><a routerLink="/paises" routerLinkActive="active-link">Administrar Países</a> </li>
  </ul>
</nav>

<main class="main-content">
  <router-outlet />
</main>
  
</body>
</html>
